body {
    background-color: black;
    background-image: url("img/background.png");
    background-attachment: local;
    width: auto;
    min-width: 300px;
    margin: 1% 10%;
    font-family: sans-serif;
    font-size: 1.1em;
}


/*
setup the header style
*/
header {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2em;
    margin: 0;
}

header h1 {
    font-family: senregular, sans-serif;
    font-size: 2em;
    margin: 0;
}

header h2 {
    font-family: serif;
    font-size: 1em;
    font-weight: normal;
    float: right;
    margin: 2em 0 0 0;
}

header::after {
    content: '';
    display: block;
    clear: both;
}

header a:link, header a:visited {
    text-decoration: none;
    border-bottom: 1px dotted blue;
    color: blue;
} 

header a:hover, header a:active {
    text-decoration: none;
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
}

/*setup the section style*/
#main-section ul {
    margin: 3em 0;
    padding: 0;
    list-style: none;
}

#main-section a:link, #main-section a:visited {
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 2em 0;
    padding: 0.8em;
    
    text-decoration: none;
    color: black;
}

#main-section a:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#main-section a:active {
    color: darkslategrey;
    outline: none;
}

/*setup the about page style*/
#comming-soon {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.8em;
}

/*setup the artical page style*/
article {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
    padding: 0.8em;
}

article h1 {
    text-align: center;
    margin: 2em 0;
}

article p {
    text-indent: 2em;
}

article code, article pre {
    margin-left: 1.2em;
}

article a[href^="http"]:link, article a[href^="http"]:visited {
    text-decoration: none;
    border-bottom: 1px dotted blue;
    color: blue;
}


article a[href^="http"]:hover, article a[href^="http"]:active {
    height: 0.5em;
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
}


@media screen and (max-width: 800px) {
    body {
        margin: 10px;
        font-size: 1em;
        min-width: 100px;
    }
    header {
        padding: 10px;
    }
    article pre, article code {
        margin: 0;
    }
}
