body {
    width: 50%;
    padding: 1em;
    margin: 1em auto;
}

/* setup style for header */
header {
    display: block;
    border: 1px double lightgrey;
    border-left: 0;
    border-right: 0;
    margin: 0;
    padding: 0.5em;
}

header h1 {
    font-family: 'alegreya_sans';
    font-size: 3em;
    font-weight: normal;
    margin: 0 0 0.8rem 0.2em;
    padding: 0;
}
header h2 {
    font-weight: normal;
    font-size: 1em;
    float: right;
    margin: 0;
    padding: 0;
}

header::after {
    content: '';
    display: block;
    clear: right;
}

header a:link, header a:visited {
    text-decoration: none;
    font-weight: bolder; 
    color: black;
}

header a:hover, header a:active {
    text-decoration: underline;
}

/* setup style for list */

#main-list {
    list-style-type: none;
    padding: 0;
    margin: 3em 0;
}

#main-list li {
    border-bottom: 1px dotted lightgrey;
}

#main-list li:first-child {
    border-top: 1px dotted lightgrey;
}

#main-list a:link {
    display: block;
    padding: 0.5em 1em;
    margin: 0;
    text-decoration: none;
    color: #106bb9;
}

#main-list a:visited {
    color: #6ea3cf;
}

#main-list a:hover, #main-list a:active, #main-list a:focus {
    background-color: #e6e6e6;
    text-decoration: underline;
    outline: 1px double white;
}

/* setup style for content page */
.title {
    font-weight: normal;
    font-size: 1.8em;
    padding-bottom: 0.2em;
    border-bottom: 1px double lightgray;
}
.title~p {
    text-indent: 2em;
}
.title~p:first-letter{
    text-transform: capitalize;
}
/* setup style for medium screen */
@media (max-width: 880px) {
    body {
        width: auto;
        margin: 0.8em;
        padding: 0.2em;
    }
}
/* setup style for small screen */
@media (max-width: 500px) {
    header h1 {
        font-size: 2em;
        margin-left: 0.1em;
    }
}