body {
    max-width: 600px;
    margin: auto;
    padding: 1em;
}

h1 {
    font-family: 'protype', monospace;
    font-weight: bold;
    font-size: 2em;
    margin: 0.1em 0 0;
}

header {
    border-bottom: 1px solid black;
    padding-bottom: 0.1em;
    margin-bottom: 2em;
}

article {
    border: 1px solid silver;
}

h2{
    font-family: 'protype', monospace;
    font-weight: normal;
    font-size: 1.5em;
    color: white;
    margin: 0;
    border-bottom: 1px dotted silver;
}

h2 a:link {
    text-decoration: none;
    display: block;
}
h2 a:hover, h2 a:active {
    text-decoration: underline;
}

article p {
    padding: 1em;
    margin: 0;
    height: 200px;
    overflow: hidden;
    text-align: center;
}